/* .conatiner{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} */

.h1{
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F5;
}
.div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #190482;
    height: 100px;
    color: #F6F5F5;
    font-family:  "Comic Sans MS", "Comic Sans", cursive;
}
