.div{
    /* display: flex ; */
    justify-content: center;
    /* align-items: center; */
    margin: 30px;
    border: 1px solid black;
    border-radius: 10px;
    height: 400px;
    width: 600px;
    background-color: #C2D9FF;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.numbers{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8EDFF;
}
.main1{
    display: flex;
    margin-top: 50px ;
    justify-content: space-around;
    width: 600px;
}
.answer{
    width: 600px;
    margin-top: 30px ;
    display: flex;
    justify-content: center;
}

.optionA{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 600px;
    height: 60px;
}
.optionB{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    width: 600px;
    height: 60px;
}
.options1{
    width: 90px;
    height: 50px;
    border: 1px solid #DDF2FD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF2FD;
    border-radius: 5px;
}
.options2{
    width: 90px;
    height: 50px;
    border: 1px solid #DDF2FD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF2FD;
    border-radius: 5px;
}
.options3{
    width: 90px;
    height: 50px;
    border: 1px solid #DDF2FD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF2FD;
    border-radius: 5px;
}
.options4{
    width: 90px;
    height: 50px;
    border: 1px solid #DDF2FD;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF2FD;
    border-radius: 5px;
}
.msg{
    margin-top: 70px;
    width: 100%;
    height: 100px;
    color: #F05537;
    display: flex;
    justify-content: center;
    font-family:monospace;
    font-weight:bolder;
    font-size: larger;

}

